
.sc-visual{overflow: hidden;}
.sc-visual .img-box{
    position: relative;
    
}
.sc-visual img{
    width: 100%;
    height: 100vh;
    object-fit: cover;

    transform: scale(1.2);
    transition: transform 5s linear;
}
.sc-visual .swiper-slide-active img{
    transform: scale(1);
}

.sc-visual .txt-box{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 3em;
    z-index: 9999;
    color: #fff;    
}
.sc-visual .txt-title{
    font-size: 6vw;
    line-height: 1.5em; 
    font-family: var(--font-en1);
    overflow: hidden;
    display: block;
}
.sc-visual .txt-box b{
    display: inline-block;
    transform: translateY(110%);
    transition: transform 1s;
}
.sc-visual .swiper-slide-active .txt-box b{
    transform: translateY(0%);
}
.sc-visual .txt-info{
    font-size: 1.8em;
    display: block;
    overflow: hidden;
}
.sc-visual .swiper-slide:hover .txt-info{
    text-decoration: underline;
}
.sc-visual .scroll-down{
    position: absolute;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    bottom: 25px;
    letter-spacing: 0.2em;
    font-family: var(--font-en2);
}



.sc-featured{
    overflow: hidden;
}
.sc-title{
    font-size: 2em;
    margin-top: 100px;
}

.sc-featured .mid-slide{
    position: relative;
}

.sc-featured .img-box{position: relative;
    transition: transform .5s;
    overflow: hidden;
}
.sc-featured img{ transition: transform .5s;}


.sc-featured .txt-box{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    text-align: center;
}

.sc-featured .mid-slide.grab .img-box{
    transform: scale(0.95);
}
.sc-featured .mid-slide.grab img{
    transform: scale(1.2);
}



.txt-subtitle{
    font-size: 35px;
    line-height: 1em;
}
.txt-title{
    font-size: 5vw;line-height: 1.4em;
    font-family: var(--font-en1);
}
.txt-madeby{
    font-size: 2.2em;
    line-height: 1em;
    margin-top: 25px;
}
.btn-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 36px;
    height: 52px;
    box-sizing: border-box;

    background: #fff;
    padding: 10px;
    color: #000;
    text-align: center;

    transition: 0.3s;

    z-index: 9;
    font-size: 50px;
    line-height: 26px;
}
.btn-nav:hover{background: #1f1f1f; color: #fff;}
.sc-featured .btn-nav.prev{
    left: -16px;
}
.sc-featured .btn-nav.next{
    right: -16px;
}
.sc-featured .swiper-button-disabled.btn-nav{
    display: none;
}



.recom-artist-area{
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}
.recom-artist-area .img-box{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 120%;
    z-index: -1;
}
.recom-artist-area .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.recom-artist-area .txt-box{
    padding: 20% 0;
    text-align: center;
    color: #fff;

}
.recom-artist-area .txt-box .txt-subbox {
    overflow: hidden;
    display: block;
}
.recom-artist-area .txt-box .txt-sub{
    display: inline-block;
    transform: translateY(100%);
    transition: transform 1s;
}
.recom-artist-area .txt-subbox.active .txt-sub{transform: translateY(0%);}

.recom-artist-area .txt-subtitle{
    font-size: 4em;
    margin-bottom: 25px;
    line-height: 1em;
}
.recom-artist-area .txt-title{
    font-size: 8vw;
    line-height: 1em;
}
.recom-artist-area .txt-madeby{
    font-size: 2.2em;
    margin-top: 15px;
    line-height: 1em;
}




.sc-authors .end-slide{position: relative;}
.sc-authors .swiper-slide{
    text-align: center;
}
.sc-authors .swiper-slide:hover img{
    transform: scale(1.1);
}
.sc-authors .img-box img{
    transition: all 1.2s;
}
.sc-authors .swiper-slide:hover .name{
    color: #1f1f1f;
}
.sc-authors .img-box{
    overflow: hidden;
}
.sc-authors .img-box::before{
    display: none;
}
.sc-authors .name{
    margin-top: 10px;

    color: lightgray;
    font-size: 1.8em;
}

.sc-authors .btn-nav.prev{
    left: -16px;
}
.sc-authors .btn-nav.next{
    right: -16px;
}
.sc-authors .swiper-button-disabled.btn-nav{
    display: none;
}




.sc-contract .contract-box{
    position: relative;
    padding-bottom: 56.25%;
    cursor: pointer;
}
.sc-contract .contract-box iframe{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}
.sc-contract .txt-box{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
    color: #fff;
}
.sc-contract .img-box{
    overflow: hidden;
    position: absolute;
    top: 0;left: 0;
    bottom: 0;right: 0;
}
.sc-contract .img-box img{
    transition: all 1.1s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-contract .contract-box:hover img{
    transform: scale(1.1);
}




.txt-area{
    display: flex;
    margin-top: 50px;

    font-family: var(--font-en1);
}
.txt-area.active{
    transform: translateX(-20%);
}
.txt-area span{
    font-size: 12em;
    padding: 0 25px;
    
}
.txt-area span:nth-child(odd){
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
}



.sc-news .new-slide{
    position: relative;
}
.sc-news .img-box{
    overflow: hidden;
}
.sc-news .new-item:hover img{
    transform: scale(1.1);
}
.sc-news .new-item:hover .txt-box{
    color: #1f1f1f;
}
.sc-news img{
    height: 422px;
    object-fit: cover;

    transition: all 1.2s;
}

.sc-news .txt-box{
    color: lightgray;
    text-align: center;
}
.sc-news .txt-subtitle{
    margin: 0.15em 0;
    font-size: 2em;
    line-height: 1.2;
    display: block;
}
.sc-news .link-more{
    position: absolute;
    top: -35px;
    right: 0;

    font-size: 1.3em;
}
.sc-news .link-more a:hover{
    text-decoration: underline;
}
.sc-news .img-box::before{
    display: none;
}
.sc-news .btn-nav{
    position: absolute;
    display: none;
}
.sc-authors .btn-nav.prev3{
    left: -16px;
}
.sc-authors .btn-nav.next3{
    right: -16px;
}


.support-area{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.support-area span{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1em;
}
.support-area img{
    width: 280px;
}






